<div class="home__container">
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Exclusivo"
		gamePrice="R$ 390,00"
		gameType="Playstation 5"
	></app-card>
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Digital"
		gamePrice="R$ 200,00"
		gameType="Playstation 5"
	></app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="Promoção"
		gamePrice="R$ 100,00"
		gameType="Playstation 4"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="Média física"
		gamePrice="R$ 300,00"
		gameType="Playstation 5"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="Digital"
		gamePrice="R$ 200,00"
		gameType="Playstation 2"
	></app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="Exclusivo"
		gamePrice="R$ 160,00"
		gameType="Playstation 3"
	></app-card>
</div>

